docRoot                   {{ .Env.RUNTIME_FILES_DIR }}{{ default .Env.OLS_PUBLIC_DIR "" }}

context /-/ping {
  type                    fcgi
  handler                 php-fpm
  addDefaultCharset       off
  rewrite  {
    enable                0
    inherit               0
  }
}

rewrite  {
  enable                  1
  autoLoadHtaccess        1
}
